.my-nav {
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: 999;
    background: none;
    border 0;
    border-radius: 0;
}

.my-nav .navbar-nav a {
    color: black !important;

}

.my-carousel {
    position: absolute;
    top:0;

}
